<nav class="menu" role="nav">
    <ul>
      <li><a href="http://twitter.com/vishnugopal">Twitter</a></li>
      <li><a href="https://www.linkedin.com/in/vishnugopal">LinkedIn</a></li>
      <li><a href="https://github.com/vishnugopal">Github</a></li>
    </ul>
</nav>